body,
html {
  font-family: "DM Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
p,
ul {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.my-card {
  background-color: #fff;
  border-radius: 2px;
  padding: 2rem;
}

.page-body {
  padding: 2rem;
}

.page-body,
.my-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.page-body-columns {
  flex-direction: row;
  justify-content: space-between;
}

/* ================ */

.page-header {
  line-height: 59px;
  background: white;
  margin: 0px;
  height: 59px;
}

.table-protocols {
  .protocol-state-error {
    display: block;
    font-size: 11px;
    color: orange;
  }
}

.loading-indicator {
  text-align: center;
  width: 50px;
  margin: 0px auto;
}

.details-main {
  .help-block {
    margin: 20px;
    padding: 10px 5px;
  }

  margin-right: 0px;
  margin-top: 20px;

  &.row {
    margin: 0px;
  }
}
